.section-images__the-idea{
	background-image: url("../../../assets/images/section-image-the-idea.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90px;
}

.section-images__synopsis{
	background-image: url("../../../assets/images/section-image-synopsis.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90px;
}